# OS junk files
.DS_Store
[Tt]humbs.db

# Temp files
*~

#Java
*.class

#Scala
.worksheet
.cache

#SVN
.svn

#Android generated
bin
gen
lint.xml

#Eclipse
.project
.classpath
.settings
.checkstyle
.apt_generated
.metadata

#IntelliJ IDEA
.idea
*.iml
*.ipr
*.iws
classes
out
gen-external-apklibs

#Maven
target
release.properties
pom.xml.*

#Gradle
.gradle
.gradletasknamecache
build

#Ant
build.xml
ant.properties
local.properties
proguard.cfg
proguard-project.txt

.springBeans

#Crashlytics
com_crashlytics_export_strings.xml
crashlytics-build.properties